:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Reset HTML y body para evitar huecos */
:host ::ng-deep html,
:host ::ng-deep body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* El main debe ocupar el espacio flexible */
main {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
