.perfil-container {
  padding: 40px;
  color: white;
  background: #1e1e1e;
}

h1 {
  margin-bottom: 25px;
}

/* Layout */
.perfil-card {
  background: #262626;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  gap: 40px;
  box-shadow: 0 0 15px #00000055;
  flex-wrap: wrap;
}

/* Inputs */
label {
  display: block;
  color: #bdbdbd;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  background: #1b1b1b;
  border: 1px solid #444;
  border-radius: 6px;
  color: white;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #1976d2;
  border: none;
  color: white;
  border-radius: 6px;
}

button:hover {
  background: #0d47a1;
}

/* Avatar */
.avatar {
  text-align: center;
}

.avatar img {
  width: 200px;
  border-radius: 12px;
}

.cambiar {
  margin-top: 15px;
  background: #444;
}

.cambiar:hover {
  background: #555;
}
