.login-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
  padding: 40px;
}

.login-card {
  background: #262626;
  width: 350px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 15px #00000055;
  color: white;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
}

label {
  margin-top: 10px;
  display: block;
  color: #bbbbbb;
}

input {
  width: 100%;
  padding: 10px;
  background: #1e1e1e;
  border: 1px solid #444;
  color: white;
  border-radius: 6px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  background: #1976d2;
  border: none;
  padding: 12px;
  border-radius: 6px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

.registro {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.registro a {
  color: #64b5f6;
}
